name: Leer Secrets y Variables con JS

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Ejecutar script JavaScript con variables de entorno
      run: node js/config.js
      env:
        # Asigna el secreto de GitHub a una variable de entorno llamada MY_SECRET
        MY_SECRET: ${{ secrets.SUPABASE_ANON_KEY }}
