name: Deploy a GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Actualizar credenciales en config.js
      run: |
        sed -i "s|https://pddwgzblisqfbaesafek.supabase.co|${{ secrets.SUPABASE_URL }}|g" js/config.js
        sed -i "s|eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.*0M|${{ secrets.SUPABASE_ANON_KEY }}|g" js/config.js

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
